<footer class="cce-footer" role="contentinfo">
  <nav class="cce-footer__links">
    <a routerLink="/about">{{ 'footer.about' | transloco }}</a>
    <a routerLink="/policies">{{ 'footer.policies' | transloco }}</a>
    <a routerLink="/pages/privacy">{{ 'footer.privacy' | transloco }}</a>
    <a routerLink="/pages/terms">{{ 'footer.terms' | transloco }}</a>
    <a routerLink="/pages/contact">{{ 'footer.contact' | transloco }}</a>
  </nav>
  <p class="cce-footer__attrib">{{ 'footer.ministryAttribution' | transloco }}</p>
</footer>
